<font face="Georgia" size="3" color="#007acc">
   <div align="center">
    <h1><strong>Tecnológico de Monterrey</strong></h1>
        <h1><strong>Campus Querétaro</strong></h1>
        <h1>Analítica de datos y herramientas de inteligencia artificial I</h1>
        <h3>Grupo 101</h3>
    <h4><strong>Actividad 2.1 (Valores Nulos)</strong></h4>
           <h4>Ana Michele Hay Robles</h4>
           <h4>A01378047</h4>
    </div>

</font>
</div>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Ventas_totales.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 24 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   indice_tiempo                        65 non-null     object
 1   ventas_precios_corrientes            65 non-null     float64
 2   ventas_precios_constantes            65 non-null     float64
 3   ventas_totales_canal_venta           65 non-null     float64
 4   salon_ventas                         59 non-null     float64
 5   canales_on_line                      65 non-null     float64
 6   ventas_totales_medio_pago            65 non-null     float64
 7   efectivo                             65 non-null     float64
 8   tarjetas_debito                      64 non-null     float64
 9   tarjetas_credito                     58 non-null     float64
 10  otros_medios                         64 non-null     float64
 11  ventas_totales_grupo_articulos       65 non-null     float64
 12  subtotal_ventas_alimentos_bebidas    55 non-null     float64
 13  bebidas                              64 non-null     float64
 14  almacen                              63 non-null     float64
 15  panaderia                            64 non-null     float64
 16  lacteos                              64 non-null     float64
 17  carnes                               64 non-null     float64
 18  verduleria_fruteria                  64 non-null     float64
 19  alimentos_preparados_rotiseria       64 non-null     float64
 20  articulos_limpieza_perfumeria        65 non-null     float64
 21  indumentaria_calzado_textiles_hogar  63 non-null     float64
 22  electronicos_articulos_hogar         62 non-null     float64
 23  otros                                61 non-null     float64
dtypes: float64(23), object(1)
memory usage: 12.3+ KB

In [5]:
df.head()

,indice_tiempo,ventas_precios_corrientes,ventas_precios_constantes,ventas_totales_canal_venta,salon_ventas,canales_on_line,ventas_totales_medio_pago,efectivo,tarjetas_debito,tarjetas_credito,...,almacen,panaderia,lacteos,carnes,verduleria_fruteria,alimentos_preparados_rotiseria,articulos_limpieza_perfumeria,indumentaria_calzado_textiles_hogar,electronicos_articulos_hogar,otros
0,01/01/2017,27858.9,27477.3,27858872.08,27591730.13,267141.956,27858872.08,1.023010e+07,6864575.384,9047205.493,...,6705475.318,9.459063e+05,2880656.169,2606192.942,1.050314e+06,340777.3882,4397543.671,772371.8476,1838507.096,2806660.309
1,01/02/2017,25994.2,25223.4,25994200.17,25749179.40,245020.769,25994200.17,9.719067e+06,6438494.011,8309150.301,...,6576624.803,9.256186e+05,2855639.900,2600083.591,1.026167e+06,328288.6951,4053283.771,672290.5165,1257661.903,2354084.901
2,01/03/2017,27780.0,26334.3,27780006.52,27472228.72,307777.804,27780006.52,1.024444e+07,6908522.962,8845010.494,...,7437264.174,1.016148e+06,3188259.169,2824976.726,1.075526e+06,353335.1548,4354197.611,667696.6653,1305674.917,2266189.277
3,01/04/2017,29134.3,27045.9,29134272.22,28827479.49,306792.733,29134272.22,1.031263e+07,7454251.800,9458166.682,...,8211244.093,1.132396e+06,3257140.159,3006158.760,1.037213e+06,359694.4537,4355706.646,838948.2458,1535726.345,2146755.887
4,01/05/2017,27969.0,25631.9,27969004.68,27569311.41,399693.262,27969004.68,1.014761e+07,6735747.319,9220929.862,...,7651058.084,1.033082e+06,3232635.767,2799142.123,9.826512e+05,336568.0085,4206101.605,915895.1498,1824462.036,2117971.483

In [7]:
# Identificar valores nulos

df.isnull().sum()

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            6
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         1
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [9]:
# Sustituimos la columna salon_ventas por la media de la columna

df['salon_ventas'].fillna(df['salon_ventas'].mean(), inplace=True)

# Corroboramos que ya no hay valores nulos

df.isnull().sum()

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            0
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         1
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [13]:
# Segundo método de sustitución de valores nulos

# Sustituimos la columna salon_ventas por la mediana de la columna

df['tarjetas_debito'].fillna(df['tarjetas_debito'].median(), inplace=True)

# Corroboramos que ya no hay valores nulos en la columna tarjetas_debito

df['tarjetas_debito'].isnull().sum()

0

In [12]:
# Tercer método de sustitución de valores nulos

# Sustituimos la columna tarjetas_credito por un valor constante

df['tarjetas_credito'].fillna(0, inplace=True)

# Corroboramos que ya no hay valores nulos en la columna tarjetas_credito

df['tarjetas_credito'].isnull().sum()

0

In [14]:
# Cuarto método de sustitución de valores nulos

# Sustituimos la columna subtotal_ventas_alimentos_bebidas por un valor constante tipo string

# ningún valor de ninguna columna del df (salvo la primera) es de tipo string (object), por lo que no podemos sustituir por un string idealmente

df['subtotal_ventas_alimentos_bebidas'].fillna('NA', inplace=True)

# Corroboramos que ya no hay valores nulos en la columna subtotal_ventas_alimentos_bebidas

df['subtotal_ventas_alimentos_bebidas'].isnull().sum()

0

In [15]:
# Quinto método de sustitución de valores nulos

# Sustituimos la columna bebidas por forward fill

df['bebidas'].fillna(method='ffill', inplace=True)

# Corroboramos que ya no hay valores nulos en la columna bebidas

df['bebidas'].isnull().sum()

0

In [16]:
# Sexto método de sustitución de valores nulos

# Sustituimos la columna alimentos por backward fill

df['almacen'].fillna(method='bfill', inplace=True)

# Corroboramos que ya no hay valores nulos en la columna alimentos

df['almacen'].isnull().sum()

0

In [18]:
df.isnull().sum()

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           1
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              1
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [20]:
# Sustituimos los valores nulos de las columnas faltantes por la media de la columna

# Aplicamos esto a las columnas numéricas

# creamos una lista con los nombres de las columnas numéricas
columnas_numericas = df.select_dtypes(include=['number']).columns.tolist()
columnas_numericas

def sustituir_nulos(df, columnas):
    for columna in columnas:
        df[columna].fillna(df[columna].mean(), inplace=True)
    return df

for i in columnas_numericas:
    df[i].fillna(df[i].mean(), inplace=True)

# Corroboramos que ya no hay valores nulos en el df
df.isnull().sum()

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           0
otros                                  0
dtype: int64